$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media screen and (min-width: 768px){
.container {
  max-width: 1200px !important;
}
}
/* Space out content a bit */
.table{
  .header{
    background: #469dc8;
    color: #fff;
    text-align:left;
    margin-left:15px;
  }

  .odd{
    background-color: #FFF;
  }
  .even {
    background-color: #eee;
  }
  .main-row{
    font-size: 13px;
    
  }
}

.ng-isolate-scope{
  text-align: center;
  .ng-table-counts{
    display: none;
  }
  ul.pagination{
    margin: 0;
    li{
      border: none;
      a{
        border : none;
      }
    }
  }
}
.table > tbody + tbody{
  border-top : none;
}
.pagination > .active > a{
  background-color: #fff;
  border: none;
  color : #337ab7;
  font-weight : 600;
  cursor: pointer;
}
.pagination > .active > a:hover, a:focus{
  background-color: #fff;
  border-color: none;
  color : #337ab7;
  font-weight : 600;
  cursor: pointer;
}

.table-condensed > tbody > tr > td {
      padding: 7px !important;
    }
/* Custom page header */
.header-logo {
  background : #fff;
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom: 1.1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
  position:fixed;
  width:100%;
  z-index:999;
  a{
    color:#303030;
  }
  .product{
    position: relative;
    top: 4px;
    font-size: 18px;
    color: #fba337;
    font-weight: 600;
    text-shadow: 2px 2px #202020;
  }

  /* Make the masthead heading the same height as the navigation */
  #logo-desktop{
    height: 30px;
    vertical-align: top;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.home{
   .side-pannel{
     border: 1px solid #ccc;
     padding:0px;
     margin-bottom: 10px;
     ul{
      padding-left:0px;
      margin-bottom:0px;
      a{
        text-decoration: none; 
        li:hover{
          background:#eee;
        }
      li{
        list-style : none;
        padding:15px;
        color:#000;
      }
      }
     }
   }
   .main-content{
    
     .heading{
       input[type="button"]{
         background: #469dc8;
         color: #fff;
         float: right;
         margin-top: 20px;
         border: none;
         padding: 7px 10px 7px 10px;
       }
     }
   }
}
