$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media screen and (min-width: 768px){
.container {
  max-width: 1000px !important;
}
}
/* Space out content a bit */



/* Custom page header */
.header {
  background-color: #fff;
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom: 1.1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
  position:fixed;
  width:100%;
  z-index:999;

  /* Make the masthead heading the same height as the navigation */
  #logo-desktop{
    height: 30px;
    vertical-align: top;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.home{
   .side-pannel{
     border: 1px solid #ccc;
     padding:0px;
     margin-bottom: 10px;
     ul{
      padding-left:0px;
      margin-bottom:0px;
      a{
        text-decoration: none; 
        li:hover{
          background:#eee;
        }
      li{
        list-style : none;
        padding:15px;
        color:#000;
      }
      }
     }
   }
   .main-content{
     .heading{
       input[type="button"]{
         background: #24B8E8;
         color: #fff;
         float: right;
         margin-top: 20px;
         border: none;
         padding: 7px 10px 7px 10px;
       }
     }
     .docker-content{
      ul{
        padding:0px;
        li{
          list-style: none;
          padding: 10px;
          height: 85px;
          border: 1px solid #ccc;
          border-radius: 10px;
          margin-bottom:10px;
          .features{
            border-right:1px solid #ccc;
            height:100%;
          }
        }
      }
     }
   }
}
