<div class="row" style="margin-top: 20px;">
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #ccc;height:200px;padding:0">
     <div class="heading" style="height: 50px;background: #469dc8;padding: 15px;text-align: center;font-weight: bold;color:#fff">Images</div>
     <b style="font-size: 73px;margin-left: 62px;">{{dockerImages.length}}</b>
	</div>
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #ccc;height:200px;padding:0">
		<div class="heading" style="height: 50px;background: #469dc8;padding: 15px;text-align: center;font-weight: bold;color:#fff">Containers</div>
		<b style="font-size: 73px;margin-left: 62px;">{{containers.length}}</b>
		<div style="text-align:center">Stopped Container - {{stoppedContainer.length}}</div>
	</div>
</div>