<div class="row" style="margin-top: 20px;">
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #ccc;height:200px;padding:0">
     <div class="heading" style="height: 50px;background: #ccc;padding: 15px;text-align: center;font-weight: bold;">Images</div>
     <b style="font-size: 83px;margin-left: 45px;">10</b>
	</div>
	<div class="col-md-3 col-md-offset-1" style="border:1px solid #ccc;height:200px;padding:0">
		<div class="heading" style="height: 50px;background: #ccc;padding: 15px;text-align: center;font-weight: bold;">Containers</div>
		<b style="font-size: 83px;margin-left: 45px;">10</b>
	</div>
</div>